/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2014, 12:28:00 AM
    Author     : Javier
*/
#cajaPrincipal{
    border: solid 1px black;
    width: 100%;
    height: 550px;
}

aside{
    float: left;
    border: 0px;
    width: 25%;
    height: 100%;
    /*background-color: #0000ff;*/
}
#contenido{
    float: right;
    width: 75%;
    height: 100%;
    /*background-color: gray;*/
}
body{
    background-color: black;
    color: white;   
}
#seccion1{
    float: left;
    width: 30%;
}
#seccion2{
    float: left;
    width: 40%; 
}
#seccion3{
    float: right;
    width: 40%;
}
#titulo{
    text-align: left;
    font-size: 30px;
    font-family: Vivaldi;
}


.opcionmenu{
    display: inline;
    padding: 5px;
    font-family: Kunstler Script;
    font-size: 27px;
}
.opcionmenu:hover a{
    cursor: pointer;
    background-color: #ffffff;
    color: black;
}
.opcionmenu a{
    text-decoration:none;
    color:white;	
}
#logo{
    float: left;
    margin: 0px;
}
#opcion{    
    float: left;
    list-style: none;
}
#botonBuscar{
    border-radius: 4em;
    margin-top: 15px;
}

#busqueda{
    margin-top: 15px;
    width: 190px;
}
#seccionArticulos{
    clear: both;
    width: 100%;
    height: 88.5%;
    border: solid black 1px;
    overflow:auto;
}
#seccionArticuloss{
    clear: both;
    width: 100%;
    height: 90%;
    border: solid black 1px;
}
img{
    margin-left: 6%;
    margin-top: 2%;
    border: solid white 1px;
    float: left;
    width: 163px;
    height: 243px;
    border:black solid 1px;
    border-radius: 50px;
}

figcaption{
    clear: both;
    margin-left: 6%;
}


#registrar{
    color:white;
    text-decoration: none;
}
#registrar:hover{
    color: white;
}

#izq{
    float: left;
    width: 33%;
    height: 100%;
    
}
#cen{
    float: left;
    width: 33%;
    height: 100%;
    
}
#der{
    float: left;
    width: 33%;
    height: 100%;
    
}
.registro{
    width: 270px;
}
#opcion{
    font-size: 15px;
}
#Tituloreg{
    width: 100%;
    height: 7%;
  font-family: AngsanaUPC;
  font-size: 30px;
  background: white;
  color: black;
  margin-top: 0px;
  
}

#formulario{
    border:  solid white 1px;
    //background-color: #cccccc;
    
    height: 550px;
    
}
.grupo{
    float: left;
    width:45%; 
    height: 430px;
    margin-left: 15px;
}


#botonreg{
    float:right;
    width: 100px;
    height: 40px;
    background: linear-gradient(45deg,white,gray);
    margin-right: 50px;
}

.articulosCaballero a{
color:white;
text-decoration:none;
}
.articulosCaballero:hover a{
    color: red;
}

img{
    
}