/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2014, 12:28:00 AM
    Author     : Javier
*/
body{
    background-color: black;
    color: white;   
}
#seccion1{
    float: left;
    width: 30%;
}
#seccion2{
    float: left;
    width: 40%;
}
#seccion3{
    float: right;
    width: 30%;
}
#titulo{
    text-align: center;
    font-size: 30px;
    font-family: Vivaldi;
}

.opcionmenu{
    display: inline;
    padding: 5px;
    font-family: Edwardian Script ITC;
    font-size: 27px;
}
.opcionmenu:hover a{
    cursor: pointer;
    background-color: #ffffff;
    color: black;
}
.opcionmenu a{
    text-decoration:none;
    color:white;	
}

div{
    clear: both;
}

#registrar{
    color:white;
    text-decoration: none;
}
#registrar:hover{
    color: white;
}